@charset "utf-8";

/* 전체 */
.page {height: 100vh; overflow: hidden;}
.page1 {background: #eee;}
.page2 {background: #888;}
.page3 {background: #666;}
.page4 {background: #555;}
.page5 {background: #333;}
.page6 {background: #222;}
.page7 {background: #111;}

h2 {
    text-align: center; 
    font-size: 28px;
}


/* page1 - intro */
.intro {
    position: relative;
}

.intro img {
    position: absolute; top: 0; right: 0;
    width: 350px;
    transform: rotate(-45deg);
}

/* page2 - profile */
.page2 {
    display: flex;
    align-items: center;
    padding: 50px;
}
#profile {
    display: flex;
}
#profile img {
    width: 500px;
}
.profile {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}
.profile .desc {
}
.profile .desc h3 {
    font-size: 28px;
}
.profile .skills ul li {
    display: inline-block;
}

/* page3 - profile */


/* page4 - website */
.page4 {
    /* position: relative; */
}
#website {

}
.website ul {
    margin: 80px 50px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
 .website ul li a {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background: #fff;
    border-radius: 15px;
}
.website ul li a:hover::before {
    position: absolute; top: 0; left: 0;
    content: '';
    width: 200px;
    height: 300px;
    background: #000;
    border-radius: 15px;
    opacity: .3;
}
.website ul li a:hover {
    color: #fff;
}
.website ul li a img {
    width: 280px;
}
.website ul li a span {
    display: block;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.website ul li a .titlebox {
    font-size: 15px;
    font-weight: 600;
}
.website ul li a .veiw {
    display: none;
}

.webstandard a {
    background: url(../img/apple-illust.png);
}

.modal {
    position: fixed; top: 50%; left: 50%;
    transform: translate(50%, 50%);
    width: 90%;
    height: 90%;
}

/* page5 - design */


/* page6 - illus */
/* page7 - contact */
